div.about {
    padding: 40px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 20px;
}

div.about > h2 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    grid-column: 1 / -1;
}

div.about > p {
    padding: 10px;
    font-weight: 600;
}